<?xml version='1.0' encoding='utf-8'?>
<plugin id="scm-soundplayer" version="1.0.3" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>SoundPlayer</name>
    <js-module name="SoundPlayer" src="www/SoundPlayer.js">
        <clobbers target="SoundPlayer" />
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="SoundPlayer">
                <param name="android-package" value="soundPlugin.SoundPlayer" />
            </feature>
        </config-file>
        <source-file src="src/android/SoundPlayer.java" target-dir="src/soundPlugin" />
        <source-file src="src/android/ok.ogg" target-dir="res/raw" />
        <source-file src="src/android/error.ogg" target-dir="res/raw" />       
        <source-file src="src/android/scan.ogg" target-dir="res/raw" />
        <source-file src="src/android/dataerror.mp3" target-dir="res/raw" />
        <source-file src="src/android/pifa.mp3" target-dir="res/raw" />
        <source-file src="src/android/yufenhuo.mp3" target-dir="res/raw" />
        <source-file src="src/android/zhitong.mp3" target-dir="res/raw" />
        <source-file src="src/android/zhouyang.mp3" target-dir="res/raw" />
    </platform>
</plugin>
